.image {
  height: 600px;
  width: auto;
}

.ctaLinks {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.backgroundColor {
  animation: BackgroundImageAnimation 6s linear infinite;
}

@keyframes BackgroundImageAnimation {
  0%,
  100% {
    background-color: #f4bb46;
    color: black;
  }
  47% {
    background-color: #f4bb46;
    color: black;
  }
  53% {
    background-color: #00adee;
    color: white;
  }
  94% {
    background-color: #00adee;
    color: white;
  }
}

.frontImage {
  z-index: 2;
  animation: FrontImageAnimation 6s ease-in infinite;
}

@keyframes FrontImageAnimation {
  0%,
  100% {
    filter: blur(0px);
    transform: scale(1) translateX(0px);
  }
  47% {
    filter: blur(0px);
    transform: scale(1) translateX(0px);
  }
  53% {
    filter: blur(4px);
    transform: scale(0.9) translateX(200px);
  }
  94% {
    filter: blur(4px);
    transform: scale(0.9) translateX(200px);
  }
}

.blurredImage {
  z-index: 1;
  animation: BlurredImageAnimation 6s ease-in infinite;
}

@keyframes BlurredImageAnimation {
  0%,
  100% {
    filter: blur(4px);
    transform: scale(0.9) translateX(200px);
  }
  47% {
    filter: blur(4px);
    transform: scale(0.9) translateX(200px);
  }
  53% {
    filter: blur(0px);
    transform: scale(1) translateX(0px);
  }
  94% {
    filter: blur(0px);
    transform: scale(1) translateX(0px);
  }
}

.productsSlider > * {
  position: absolute;
  top: 0;
  left: 70%;
}

.carribeanSauce {
  color: #37b64d;
  text-transform: uppercase;
  animation: FirstFlavorTextAnimation 6s linear infinite;
}

@keyframes FirstFlavorTextAnimation {
  0%,
  100% {
    position: initial;
    visibility: visible;
  }
  49% {
    position: initial;
    visibility: visible;
  }
  52% {
    position: absolute;
    visibility: hidden;
  }
  96% {
    position: absolute;
    visibility: hidden;
  }
}

.chimchuriSauce {
  color: #e02626;
  text-transform: uppercase;
  animation: SecondFlavorTextAnimation 6s linear infinite;
}

@keyframes SecondFlavorTextAnimation {
  0%,
  100% {
    position: absolute;
    visibility: hidden;
    filter: blur(4px);
    opacity: 0;
    left: 0px;
  }
  49% {
    position: absolute;
    visibility: hidden;
    filter: blur(4px);
    opacity: 0;
    left: 0px;
  }
  52% {
    position: relative;
    visibility: visible;
    filter: blur(0px);
    opacity: 1;
  }
  96% {
    position: relative;
    visibility: visible;
    filter: blur(0px);
    opacity: 1;
  }
}

.storyVideo {
  /* width: 80%; */
  margin-top: 10%;
  /* margin-bottom: 10%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* gap: 1.5rem; */
  position: relative;
  margin-bottom: 1rem;
}

.recommendation {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1rem;
}
